.App {
  text-align: center;
}

.navbar {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.navbar-logo img {
  height: 40px;
  width: auto;
}

.nav-logo {
  font-family: monospace; /* Kumar Utsav */
  font-size: 36px; /* Github: uuutsav */
  font-weight: 500; /* Twitter: https://twitter.com/kumarutsav1123 */
  color: #27AEDB; /*  */
  margin: 0; /*  */
  padding: 0; /*  */
}

.footer-text {
  font-family: monospace; 
  font-size: 36px; 
  font-weight: 500; 
  color: #27AEDB; 
  margin: 0; 
  padding: 0; 
}


/* HERO SECTION */

.main-text-div {
  margin: 11px;
  background-color: #fff; 
  padding: 20px; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  max-width: 600px; /* Maximum width of the div */
  margin: 0 auto; /* Center the div horizontally */
}

.main-text-div h1 {
  margin: 0; 
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif ;
  color: #555555; 
  line-height: 1.5;
}
